@charset "ISO-8859-1";
body{
	background-image:url('library6.jpg');
	background-repeat:no-repeat;
	
	background-size:cover;
	background-attachment:fixed;
	font-weight:800;
	font-size:20px;
	color:#800040;
}

a{
	float:right;
	color:red;
	font-weight:800;
	font-size:20px;
}
h1{
	color:#00ff00;
}
input[type="submit"]{
	background-color:#0080c0;
	color:white;
	padding:10px 10px;
	border:none;
}